---
---
<a href="/" class="hover:text-pink-500 hover:underline px-2 pl-0">Home</a>
<a href="/about/" class="hover:text-pink-500 hover:underline px-2">About</a>
<a href="/blog/" class="hover:text-pink-500 hover:underline px-2">Blog</a>
<a href="/tags/" class="hover:text-pink-500 hover:underline px-2">Tags</a>